/** @format */

.board {
  background-size: contain;
  background-attachment: fixed;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.544),
      rgba(255, 255, 255, 0.644)
    ),
    url('../../public/images/choose-us-bg2.jpg');
  background-position: center;
  font-family: 'Oswald', sans-serif;
}

.hero {
  background-size: contain;
  background-attachment: fixed;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.595),
      rgba(0, 0, 0, 0.786)
    ),
    url('../../public/bg/photo-collage.png.png');
  background-position: center;
  font-family: 'Oswald', sans-serif;
}

.hero-content {
  background-size: cover;
  background-position: center;
  font-family: 'Oswald', sans-serif;
}

.hero-content h1 {
  font-size: 5.1rem;
}

.hero p {
  font-family: 'Courier New', Courier, monospace;
}
.services {
  font-family: Neuemontreal, sans-serif;
}

.services-right-content {
  width: 40vw;
}

.services-left-content {
  width: 40vw;
}

.services-left-content-h1 {
  font-size: 4.9rem;
  line-height: 1;
  letter-spacing: 0.025em;
}

.wrapper p {
  font-family: 'Jost', sans-serif;
}

.projects-header {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.861),
      rgba(0, 0, 0, 0.68)
    ),
    url('../../public/bg/hero-bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card {
  top: 15vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: #333;
  padding: 40px;
  border-left: solid 11px rgb(59 130 246);
  margin-bottom: 20px;
  height: 25rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.card h2 {
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 2.9rem; /* 48px */
  line-height: 1;
  letter-spacing: 0.025em;
}

.card span {
  display: block;
  font-size: 14px;
  color: #0c4eb9;
}

.card:nth-child(1) {
  top: 15vh;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.647),
      rgba(0, 0, 0, 0.661)
    ),
    url('../../public//images/civil-building.jpg');
}

.card:nth-child(2) {
  top: 16vh;
  left: 10vw; /* Adjusted the left property */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.647),
      rgba(0, 0, 0, 0.661)
    ),
    url('/images/construction-equipment.jpg');
  z-index: 5;
}

.card:nth-child(3n) {
  top: 17vh;
  left: 20vw; /* Adjusted the left property */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.647),
      rgba(0, 0, 0, 0.661)
    ),
    url('/images/road.jpg');
  z-index: 10;
}

.card:nth-child(4n) {
  top: 18vh;
  left: 30vw; /* Adjusted the left property */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.647),
      rgba(0, 0, 0, 0.661)
    ),
    url('/images/electrical.jpg');
  z-index: 15;
}

.card:nth-child(5n) {
  top: 19vh;
  left: 40vw; /* Adjusted the left property */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.647),
      rgba(0, 0, 0, 0.661)
    ),
    url('/images/cleaning-shore.jpg');
  z-index: 20;
}

.get-started {
  margin-top: 2vw;
}

.services-btn {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.525),
      rgba(33, 33, 33, 0.611)
    ),
    url('/images/testi-bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects {
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.525),
      rgba(33, 33, 33, 0.611)
    ),
    url('/images/testi-bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.774),
      rgba(234, 234, 234, 0.577)
    ),
    url('../../public/bg/hero-bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* Mobile Styles */
@media (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: scroll;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.795),
        rgba(0, 0, 0, 0.814)
      ),
      url('../../public/bg/photo-collage.png.png');
  }
  .hero-content h1 {
    font-size: 13vw;
  }
  .card {
    padding: 20px;
    height: 30rem;
  }
  .services-left-content {
    width: 100vw;
    font-family: 'Jost', sans-serif;
    margin-top: 5vh;
  }

  .services-right-content {
    width: 88vw;
  }

  .services h1:nth-child(1) {
    font-size: 14.1vw;
    line-height: 1;
  }

  /* .services p:nth-child(1) {
    font-size: 1.1rem;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
  }*/
  .services-text {
    font-size: 0.9rem;
  }
  .card h2 {
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: 0.025em;
  }
  .get-started {
    padding-top: 5vh;
  }
  .services-btn {
    background-attachment: scroll;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .services-left-content {
    width: 90vw;
  }

  .services-right-content {
    width: 90vw;
  }

  .services p:nth-child(1) {
    font-size: 0.9rem;
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

/* Desktop Styles */
@media (min-width: 1024px) {
}
