/** @format */

.hero {
  background-size: contain;
  background-attachment: fixed;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.831),
      rgba(0, 0, 0, 0.92)
    ),
    url('../../public/bg/photo-collage.png.png');
  background-position: center;
  font-family: 'Oswald', sans-serif;
}

.hero-content {
  background-size: cover;
  background-position: center;
  font-family: 'Oswald', sans-serif;
}

.services {
  background-image: url('../../public/bg/bg-vector.jpg');
  background-size: cover;
  background-position: center;
}
.services .vector {
}
/* Mobile Styles */
@media (max-width: 767px) {
  .hero {
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: scroll;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop Styles */
@media (min-width: 1024px) {
}
